

/* Resetting default margin, padding, and box-sizing for all elements */
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Styling for the navigation bar */
nav{
    font-family: 'Rubik',sans-serif;
    position: fixed;
    margin: 10px;
    z-index: 1000;
    top:0;
    left:5px;
    height:50px;
    background-color: rgb(254, 254, 254);
    width:98%;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    font-weight: 400;
    border-radius:40px;
    margin-top:10px;  
}
    
/* Styling the container for the logo and navigation links */
.logopic{
    position: relative;
    height: 100%;
    margin:0 auto;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer; /* Pointer cursor for interactive effect */
}

/* Styling the navigation links */    
.nav-links{
    display: flex;
    align-items: center;
}

/* Individual navigation link styling */    
.nav-links li,.links{
    list-style: none;
    margin:0 20px;
    color: black;
}

.links{
    padding-bottom: 5px; /* Adding spacing for visual balance */
    position: relative;
    text-decoration: none; /* Removing underline from links */
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

/* Styling for user-related buttons */
.userbutton{
    background-color: #FFDCDC;
    border:none;
    padding:10px 20px;
    color:aliceblue;
    border-radius: 2px;
    margin:20px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

/* Hover effect for user buttons */
.userbutton:hover{
    background-color: #dd8383;
    transition-duration: 0.3s;
}
.fa-user,.fa-cart-shopping{
    margin:5px;
    color:#262424;
}

.first{
    margin: 80px 135px 0px 135px; ;
}

.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name{
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Rubik', sans-serif;
}

.name h1{
    font-weight: 700;
    font-size: 24px;
}

.name p{
    font-weight: 400;
}

.name p img{
    width: 20px;
    height: 20px;
}

/* Button container within the introduction section */
.intro-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookbutton{
    background-color: #facbcb;
    border:none;
    padding:10px 20px;
    color:aliceblue;
    border-radius: 4px;
    margin:20px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.bookbutton:hover{
    background-color: #dd8383;
    transition-duration: 0.3s;
}

.photo-des{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo img{
    width: 857px;
    height: 470px;
}

.des{
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Rubik', sans-serif;
    margin-left: 30px;
}

.review{
    border: 1px solid #E7E7E7;
    margin-bottom: 20px;
    padding: 20px 20px 0px 20px;
}
.show-btn,.back-btn{
    cursor: pointer;
}
.top{
    border-bottom: 1px solid #E7E7E7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.very-good{
    font-size: 16px;
    font-weight: 500;
}

/* rating cube format */
.rate{
    background-color: #FFC7C2;
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    margin: 10px 0px;
}

.guest{
    margin-top: 20px;
    margin-bottom: 20px;
}

.guest h6{
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
}

.per{
    display: flex;
    align-items: center;
}

.per .ava{
    border-radius: 50px;
    margin-right: 10px;
}

.per .cz{
    margin: 0px 10px;
    height: 17px;
}

.bottom{
    border-top: 1px solid #E7E7E7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.word-break{
    font-family: 'Rubik', sans-serif;
    margin-top: 40px;
}

.word-break p{
    font-size: 16px;
}

.opacity{
    opacity: 0.6;
}

.bold{
    font-weight: 700;
    font-size: 18px;
}

.smok{
    display: flex;
    align-items: center;
}

.smok img{
    margin-right: 15px;
}

.area{
    font-family: 'Rubik', sans-serif;
    margin-top: 40px;
}

.area h1{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Rubik', sans-serif;
}

.area .pink{
    font-size: 15px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    color: #FFB4AD;
    margin-bottom: 20px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.first-row img{
    margin-right: 10px;
}

.nearby{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nearby .amen{
    margin-bottom: 10px;
}

.nearby .mile{
    opacity: 0.6;
}

.house-plan{
    font-family: 'Rubik', sans-serif;
    margin-top: 40px;
    margin-bottom: 100px;
}

.plan-table{
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Rubik', sans-serif;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
}

.rule{
    border-bottom: 1px solid #E7E7E7;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 20px;
}

.rule h2{
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
}

.rule p{
    text-align: right;
}

body.no-scroll {
    overflow: hidden;
}

.hidden-review {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    overflow-y: auto; /* Enable scrolling for the review */
    padding: 20px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-family: 'Rubik', sans-serif;
    padding: 30px 40px;
}

.rev{
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.phot-prof{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.phot-prof .ava{
    border-radius: 50px;
}

.phot-prof p{
    margin: 10px;
}

.phot-prof .flag{
    height: 18px;
}

.rev-mid{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #E7E7E7;
    gap: 100px;
}

.rev-top{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.with-face{
    display: flex;
    justify-content: start;
    align-items: top;
    gap: 10px;
    margin-bottom: 20px;
}

.with-face img{
    height: 16px;
}

.revi{
    right: 0;
}

.footer-content{  /*Footer content styling*/
    background:#FFDCDC ;
    padding-top:50px;
    width:100%;
}

.fcontainer{   /*Main container inside of container*/
    width:100%;
    margin:auto;
    display: flex;
    justify-content: center;
    background:#FFDCDC ;
    font-family: 'Rubik', sans-serif;
    border-bottom: 1px solid #fff;
}

.footer-content ul{     /*Footer list styling*/
    list-style-type: none;
    padding: 0px;
}

.footer-content li{       /*Footer list items styling*/
    padding-bottom: 20px;
}

.footer-content h3{
    font-size: 18px;
    color:#fff;
}

.list .bot, .footer-content .white {         /*Footer content styling*/
    width:auto;
    font-size: 15px;
    color:#fff;
    padding:5px;
    text-decoration: none;
}

.bottom-bar{            /*Footer horizontal line under text*/
    background:#FFDCDC;
    padding-top: 20px;
}

.bottom-bar p{      /*Footer paragraph in horizontal line*/
    margin: 0px;
    text-align: right;
    color:#fff;
    font-weight: 500;
}

.subscribe p{        /*Footer paragraph*/
    margin-left:4px;
}
.searching{           /*Footer search*/
    width:80%;
    padding:5px;
    border:none;
    margin-left:6px;
    border-radius:2px;
}
.fa-envelope{        /*Footer icon*/
    color: #c087a1;
    position:absolute;
    right:5%;
    margin-top:6px;
    cursor: pointer;
}
.fname{      /*Footer icon*/
    display: flex;
}
.fname h1{
    font-size: 20px;
    color:#ffffff;
}
.icons2{
    color:#fff;
    align-items: center;
    display: flex;
    gap:10px;
    margin-left:50px;
    margin-bottom:30px;
    margin-top:10px;
    cursor: pointer;
}
.fpic{
    width:152px;
    height:80px;
}
.footer-content p:hover{
    color:#dd8383;
    transition-duration: 0.6s;
}
.list a:hover{
    color:#dd8383;
    transition-duration: 0.6s;
}