*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Rubik',sans-serif;
}

a{
    list-style-type: none;
    text-decoration: none;
    }
    
nav{                 /*Navigation bar style */
    position: fixed;
    z-index: 1000;
    top:0;
    left:0;
    height:50px;
    background-color: rgb(254, 254, 254);
    width:100%;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    font-weight: 400;
    border-radius:40px;
    margin-top:10px;  
}
    
.logopic{                /*Logotype style */
    position: relative;
    height: 100%;
    margin:0 auto;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    }
    
.nav-links{         /*Navigation link style */
    display: flex;
    align-items: center;
    }
    
.nav-links li,.links{
    list-style: none;
    margin:0 20px;
    color: black;
    }
.links{
    padding-bottom: 5px;
    position: relative;
    }
.userbutton{            /*Button style */
    background-color: #FFDCDC;
    border:none;
    padding:10px 20px;
    color:aliceblue;
    border-radius: 2px;
    margin:20px;
    cursor: pointer;
}
.userbutton:hover{
    background-color: #dd8383;
    transition-duration: 0.3s;
}
.fa-user,.fa-cart-shopping{     /*Icons style */
    margin:5px;
    color:#262424;
}
.text1 p,h1{  /*Paragraph,heading style in information section */
    color:rgb(48, 36, 36);
    margin-top:20px;
    text-align: center  ;
}
.text1{
    align-items:left;
    margin-top:120px;
    display: flex;
    flex-direction: column;
    margin-left:40px;
}
.info1{         /*Text container placement*/
    display:flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    padding:30px 50px; 
    text-align: center;   
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 5px;
}
.info1:hover{
    transform:translate(1.3px);
}
span{
    text-align: center;
    color: #543945;
}

.allinfo1{       /*Main container placement*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:40px;
    margin-left:40px;
    margin-top:50px;
    padding:20px 20px;
}
.info1 p{
    color: #656565;
}
.destination{   /*Third text container placement*/
    display: flex;
    flex-direction: column;
}
.destination h1{
    margin-top:60px;
    margin-left:40px;
}
p.car{  /*Information 2 paragraph*/
    width:210px;
}
.photo1{   /*Pictures of Lake*/
    width: 296px;
    height: 233px;
}
.pictures{      /*Picture container of Lake placement*/
    display: flex;
    justify-content:center;
    gap:30px;
    margin-top:100px;
    transition: transform 0.3s ease-in-out;
}
.photo1:hover{ /*Pictures of Lake*/
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
}
.footer-content{            /*Footer content styling*/
    background:#FFDCDC ;
    padding-top:50px;
    width:100%;
    margin-top:50px;
}
.fcontainer{             /*Main container inside of container*/
    width:100%;
    margin:auto;
    display: flex;
    justify-content: center;
}
.footer-content ul{          /*Footer list styling*/
    list-style-type: none;
}
.footer-content h3{      /*Footer headings styling*/
    font-size: 18px;
    color:#fff;
}
.list a{            /*Footer text styling*/
    padding:0;
    color:#fff;
}
.list li,p{         /*Footer text styling*/
    width:auto;
    font-size: 15px;
    color:#fff;
    padding:5px;
}
.bottom-bar{         /*Footer horizontal line under text*/
    background:#FFDCDC;
}
hr{                  /*Footer horizontal line under text*/
    border-top: 1px solid rgb(255, 255, 255);
}
    
.bottom-bar p{      /*Footer paragraph in horizontal line*/
    text-align: right;
    color:#fff;
    font-weight: 500;
}
.subscribe p{       /*Footer paragraph*/
    margin-left:4px;
}
.searching{         /*Footer searching*/
    width:80%;
    padding:5px;
    border:none;
    margin-left:6px;
    border-radius:2px;
}
.fa-envelope{       /*Footer icon*/
    color: #c087a1;
    position:absolute;
    right:5%;
    margin-top:6px;
    cursor: pointer;
}
.fname{     /*Footer image */
    display: flex;
}
.fname h1{      /*Footer image heading */
    font-size: 20px;
    color:#ffffff;
}
.icons2{         /*Footer social icons */
    color:#fff;
    align-items: center;
    display: flex;
    gap:10px;
    margin-left:50px;
    margin-bottom:30px;
    margin-top:10px;
    cursor: pointer;
}
.fpic{           /*Name of the footer image */
    width:152px;
    height:80px;
}
.footer-content p:hover{
    color:#dd8383;
    transition-duration: 0.6s;
}
.list a:hover{
    color:#dd8383;
    transition-duration: 0.6s;
}