*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Rubik',sans-serif;
}

a{
    list-style-type: none;
    text-decoration: none;
}

nav{             /*Navigation bar style */
    position: fixed;
    margin: 10px;
    z-index: 1000;
    top:0;
    left:5px;
    height:50px;
    background-color: rgb(254, 254, 254);
    width:98%;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    font-weight: 400;
    border-radius:40px;
    margin-top:10px;  
}
        
.logopic{        /*Logotype style */
    position: relative;
    height: 100%;
    margin:0 auto;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
        
.nav-links{     /*Navigation link style */
    display: flex;
    align-items: center;
}
        
.nav-links li,.links{
    list-style: none;
    margin:0 20px;
    color: black;
}
.links{
    padding-bottom: 5px;
    position: relative;
    text-decoration: none;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 500;
}    
.userbutton{       /*Button style */
    background-color: #FFDCDC;
    border:none;
    padding:10px 20px;
    color:aliceblue;
    border-radius: 2px;
    margin:20px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.userbutton:hover{
    background-color: #dd8383;
    transition-duration: 0.3s;
}
.fa-user,.fa-cart-shopping{     /*Icons style */
    margin:5px;
    color:#262424;
    cursor: pointer;
}
.contact-banner {        /*Contact section image */
    background: url('images/pic27.jpg') no-repeat center center/cover;
    width: 100%;
    height: 400px;
}
.popup{                 /*Popup style */
    position: absolute;
    background-color: #ffffff;
    opacity: 0;
    width:400px;
    height:400px;
    transition:all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:0 1px 4px rgba(0,0,0,0.3);
    text-align: center;
    margin-left:550px;
    top:60%;
    z-index:1;
}

.popup.active{
    display: flex;
    opacity: 1;
    z-index:999;
    align-items: center;
}
.popup h2,h5{           /*Popup headings style */
    color:#575757;  
}
#closepopup{        /*Popup close button style */
    border:none;
    outline:none;
    text-align: center;
    width:60%;
    height:40px;
    background: rgb(237, 236, 236);
    color:rgb(87, 87, 87);
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
button#openpopup{       /*Popup open button style */
    background-color:#e78f8f;
    color:#fff;
    padding:15px 20px;
    border:none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.fa-check{       /*Popup icon style */
    background-color: #154c1f;
    color:#fff;
    border-radius: 50%;
    padding:10px;
    margin-bottom:20px;
}
.content{            /*Contact section style */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size:25px;
    color:aliceblue;
    padding-top:160px;
    text-align: center;
}
.content h1{         /*Heading fix*/
    text-align: center;
}
.content p{         /*Paragraph style */
    margin-top:30px;
    font-weight: 600;
    font-size: 20px;
}
.form-details{      /*Filling form style*/
    display: flex;
    justify-content: space-evenly;
    margin-top:50px;
}
.contact-img2{      /*Image near to the form*/
    width:462px;
    height:450px;
}
.fillout{           /*Input style*/
    display: flex;
    flex-direction: column;
    gap:30px;
    width:100%;
}
.fillout p{
    color: #5e5c5c;
}
.form-details-fix{  /*Input style fixing*/
    display: flex;
    flex-direction: row;
    gap:40px;
    width:40%;

}
.fillinfo{          /*Input class style*/
    padding:15px 20px;
    border-radius: 10px;
    margin:5px;
    width:100%;
    border:none;
    outline: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}
.submit{            /*Submit button*/
    background-color:#dd8383;
    color:#fff;
    padding:15px 20px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    font-size: 15px;
}
.pic2{              /*Picture near to the form*/
    width:365px;
    height:233px;
}
.contact-container{     /*Second details */
    display: grid;
    place-items:center;
    margin-inline: 3rem;
    padding-block:5rem;
}
.card-container{        /*Container placement style*/
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3.5rem;
    overflow: hidden;
}
.card__article{     /*Information tablet*/
    position:relative; 
    overflow: hidden;
    border-radius:1rem;

}
.card-info{
    background-color: #fff;
    padding:1.5rem 2rem;
    box-shadow: 0 8px 4px rgba(0,0,0,0.2);
    border-radius: 1rem;
    position:absolute;
    left:0;
    right: 0;
    bottom:-50%;
    transition:bottom 0.5s ease-in-out;
}
.card__article:hover .card-info{
    bottom:0;
}
.card-description{
    display: block;
    font-size:small;
    color:black;
}
.footer-content{         /*Footer content styling*/
    background:#FFDCDC ;
    padding-top:50px;
    width:100%;
}
.fcontainer{            /*Main container inside of container*/
    width:100%;
    margin:auto;
    display: flex;
    justify-content: center;
    margin-top:90px;
}
.footer-content ul{     /*Footer list styling*/
    list-style-type: none;
}   
.footer-content h3{      /*Footer headings styling*/
    font-size: 18px;
    color:#fff;
}
.list a{                 /*Footer text styling*/
    padding:0;
    color:#fff;
}
.list li,p{              /*Footer text styling*/
    width:auto;
    font-size: 15px;
    color:#fff;
    padding:5px;
}
.bottom-bar{             /*Footer horizontal line under text*/
    background:#FFDCDC;
}
hr{                     /*Footer horizontal line under text*/
    border-top: 1px solid rgb(255, 255, 255);
}
    
.bottom-bar p{      /*Footer paragraph in horizontal line*/
    text-align: right;
    color:#fff;
    font-weight: 500;
}
.subscribe p{        /*Footer paragraph*/
    margin-left:4px;
}
.searching{         /*Footer search*/
    width:80%;
    padding:5px;
    border:none;
    margin-left:6px;
    border-radius:2px;
}
.fa-envelope{       /*Footer icon*/
    color: #c087a1;
    position:absolute;
    right:5%;
    margin-top:6px;
    cursor: pointer;
}
.fname{             /*Footer image */
    display: flex;
}
.fname h1{          /*Footer image heading */
    font-size: 20px;
    color:#ffffff;
}
.icons2{             /*Footer social icons */
    color:#fff;
    align-items: center;
    display: flex;
    gap:10px;
    margin-left:50px;
    margin-bottom:30px;
    margin-top:10px;
    cursor: pointer;
}
.fpic{              /*Name of the footer image */
    width:152px;
    height:80px;
}
.footer-content p:hover{
    color:#dd8383;
    transition-duration: 0.6s;
}
.list a:hover{
    color:#dd8383;
    transition-duration: 0.6s;
}
