*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Rubik',sans-serif;
}

a{
    list-style-type: none;
    text-decoration: none;
    }
    
nav{             /*Navigation bar style */
    position: fixed;
    z-index: 1000;
    top:0;
    left:0;
    height:50px;
    background-color: rgb(254, 254, 254);
    width:100%;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    font-weight: 400;
    border-radius:40px;
    margin-top:10px;  
}
    
.logopic{       /*Logotype style */
    position: relative;
    height: 100%;
    margin:0 auto;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    }
    
.nav-links{          /*Navigation link style */
    display: flex;
    align-items: center;
    }
    
.nav-links li,.links{
    list-style: none;
    margin:0 20px;
    color: black;
    }
.links{
    padding-bottom: 5px;
    position: relative;
    }
.userbutton{         /*Button style */
    background-color: #FFDCDC;
    border:none;
    padding:10px 20px;
    color:aliceblue;
    border-radius: 2px;
    margin:20px;
    cursor: pointer;
}
.userbutton:hover{
    background-color: #dd8383;
    transition-duration: 0.3s;
}
.fa-user,.fa-cart-shopping{     /*Icons style */
    margin:5px;
    cursor: pointer;
    color:#262424;
}
.icon-fix{  /*Left side icons main container */
    margin-top:100px;
    margin-left:40px;
    background-color: #ffffff;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    width:350px;
    height:350px;
    padding:10px;
    border-radius: 3px;
    color:#D07D7D;
    cursor: pointer;
}
.icons2{        /*Left side icons*/
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: center;
    margin-top:30px;
    padding:10px 0;
    color:#D07D7D;
    cursor: pointer;
    font-family: 'Rubik',sans-serif;
    font-weight: 400;
    background-color: #fffffffb;
    border-radius: 4px;
}

.user-profile-descriptions{     /*Main container which contains all containers' style*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
    margin-top:100px;
}
.info-details{      /*Text and icon container style*/
    display: flex;
    gap: 10px;


}
.name-of-description{  /*Text container style*/
    display: flex;
    gap:90px;
    margin-top:20px;
}
.userprofile{        /*Profile picture image style*/
    width:100px;
    height:100px;
    margin-left:168px;
}
.fa-pen-to-square{      /*Edit icon */
    margin-top:10px;
}
.container1{             /*Information container style*/
    background-color: #ffffff;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    width: calc(50% - 10px);
    max-width: 450px;
    height:450px;
    color:#9a6767
}
.user-profile-descriptions p{
     color:#9a6767
}
.user-elements{  /*Main user profile style*/
    display: flex;
    gap:40px;
}
.text{          /*Texts inside of container style*/
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    margin-top:30px;
}
.card{          /*Payment card image style*/
    display: flex;
    margin-left:80px;
}
.container1 h1{
    margin-left:80px;
    padding-bottom:20px;
    margin-top:20px;
}
.footer-content{     /*Footer content styling*/
    background:#FFDCDC ;
    padding-top:50px;
    width:100%;
    margin-top:50px;
}
.fcontainer{            /*Main container inside of container*/
    width:100%;
    margin:auto;
    display: flex;
    justify-content: center;
}
.footer-content ul{     /*Footer list styling*/
    list-style-type: none;
}
.footer-content h3{      /*Footer headings styling*/
    font-size: 18px;
    color:#fff;
}
.list a{             /*Footer text styling*/
    padding:0;  
    color:#fff;
}
.list li,p{          /*Footer text styling*/
    width:auto;
    font-size: 15px;
    color:#fff;
    padding:5px;
}   
.bottom-bar{            /*Footer horizontal line under text*/
    background:#FFDCDC;
}
hr{                 /*Footer horizontal line under text*/
    border-top: 1px solid rgb(255, 255, 255);
}
    
.bottom-bar p{           /*Footer paragraph in horizontal line*/
    text-align: right;
    color:#fff;
    font-weight: 500;
}
.subscribe p{            /*Footer paragraph*/
    margin-left:4px;
}
.searching{             /*Footer search*/
    width:80%;
    padding:5px;
    border:none;
    margin-left:6px;
    border-radius:2px;
}
.fa-envelope{       /*Footer icon*/
    color: #c087a1;
    position:absolute;
    right:5%;
    margin-top:6px;
    cursor: pointer;
}
.fname{     /*Footer image */
    display: flex;
}
.fname h1{          /*Footer image heading */
    font-size: 20px;
    color:#ffffff;
}
.icons3{            /*Footer social icons style  */
    color:#fff;
    align-items: center;
    display: flex;
    gap:10px;
    margin-left:50px;
    margin-bottom:30px;
    margin-top:10px;
    cursor: pointer;
}
.fpic{          /*Name of the footer image */
    width:152px;
    height:80px;
}
.footer-content p:hover{
    color:#dd8383;
    transition-duration: 0.6s;
}
.list a:hover{
    color:#dd8383;
    transition-duration: 0.6s;
}
